.board {
    border: 1px solid rgb(200, 162, 162);
    padding: 10px;
    border-radius: 5px;

}

.board img{
    width: 200px;
    height: 300px;
}

.delete-and-view-buttons{
    display: flex;
    gap: 10px;
}

.delete-button {
    background-color: rgb(200, 162, 162);
    color: white;
}
